

#workflow_table_wrapper{
    clear: both;
    float: left;
    margin: 10px 0;
    width: 100%;
}
#workflow_table_wrapper #tbody{
    height:150px;
    overflow-y:auto;
    width:950px;
}
#workflow_table_wrapper table{
    border-collapse:collapse;
    width:100%;
}
#workflow_table_wrapper td{
    padding:5px;
    border-bottom: 1px solid #BEBFB9;
}
#workflow_table_wrapper .td1{
    width:150px;

}
#workflow_table_wrapper .td2{
    width:170px;
}
#workflow_table_wrapper .td3{
}

#work_header{
    width:950px;
}
#work_header div{
    padding:1px 5px;
    float:left;
    background: none repeat scroll 0 0 #E1E2DC;
    border-color: #BEBFB9;
    border-style: solid;
    border-width: 1px;
    font-weight: normal;
    text-transform: uppercase;
}
#work_header #head1{
    width:150px;
} /* the same as td1 */
#work_header #head2{
    width:170px;
    border-left:none;
} /* the same as td2 */
#work_header #head3{
    float:none;
}